{% load staticfiles %}
{% load el_pagination_tags %}

<html>
<head>
	<meta
	charset="utf-8"><meta
	name="viewport" content="width=device-width, initial-scale=1">
	<title>{{site_title}}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">
</head>

<body>
	<header><h1 class="header">{{site_title}}</h1></header>

	{% include "blog/menu.html" %}

	{% if post_list %}
		<div>
			{% paginate post_list %}
			{% for post in post_list %}
				{% include "blog/postDetail.html" %}
			{% endfor %}

			<p style="text-align: center;">{% show_pages %}</p>
		</div>

	{% else %}
		<p>No posts currently written.</p>
	{% endif %}
</body>
</html>